<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="accountsPrivate"
             type="XEMSign.MyConfigSection, XEMSign" />
    <section name="accountsWhiteList"
             type="XEMSign.MyConfigSection, XEMSign" />
    <section name="accountsBlackList"
            type="XEMSign.MyConfigSection, XEMSign" />
  </configSections>
  
 <!--Edit only below this line-->
  
  <accountsPrivate>
    <!--Enter as many private keys as you want-->
    <add name="privatekey1" code="5b7de13cfa441bdd640e4f4a24cd91d9a5da7af265eed37664d308ffa57ae805"/>
    <!--<add name="privatekey2" code="3b7cc6ad440316c495cf1f19c008565a0a09efd1d76253a58a79bdecd4c1d06e"/>-->
  </accountsPrivate>

  <accountsWhiteList>
    <!--Enter any addresses you wish to white list, 
    comment out to the key pairs if you do not wish to have a white list-->
    
    <!--<add name="address1" code="TDW4DX-EZ5ZQU-3ZZUUH-UI6G52-KYRXCH-VWAGIC-DFEX"/>-->
    <!--<add name="address2" code="TDGUY6-NQ7NFF-NBGITX-YLARVD-FM7YXQ-35RLFE-XTBW"/>-->
  </accountsWhiteList>

  <accountsBlackList>
    <!--Enter any addresses you wish to black list, 
    comment out to the key pairs if you do not wish to have a black list-->
    <!--<add name="address1" code=""/>-->
  </accountsBlackList>

  <appSettings>
    <!--Enter any value ranges to constrain your transactions. 
        Transactions outside these bounds will not pass.
        rules with value 0 will be ignored by the bot-->
    <add key="minBal" value="0" />
    <add key="maxBal" value="0" />
    
    <add key="minTx" value="0" />
    <add key="maxTx" value="0" />
    
    <add key="maxDayTx" value="0" />
    <add key="maxWeekTx" value="0" />
    <add key="maxMonthTx" value="0" />
    
    <add key="maxDayAmount" value="0" />
    <add key="maxWeekAmount" value="0" />
    <add key="maxMonthAmount" value="0" />
    
    <add key="secretCode" value=""/> <!--leave as empty string to ignore the secret code rule-->

    <add key="deadline" value="0"/>
  </appSettings>
  
  <!--Edit only above this line-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>