<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="accountsPrivate"
             type="XEMSign.MyConfigSection, XEMSign" />
    <section name="accountsWhiteList"
             type="XEMSign.MyConfigSection, XEMSign" />
    <section name="accountsBlackList"
            type="XEMSign.MyConfigSection, XEMSign" />
  </configSections>
  
 <!--Edit only below this line-->
  
  <accountsPrivate>
    <!--Enter as many private keys as you want-->
    <add name="privatekey1" code="cefe841988792a12e9e6ee0f048a2af81f7dee423aaebbe414306f0668ab451b"/>
    <!--<add name="privatekey2" code="3b7cc6ad440316c495cf1f19c008565a0a09efd1d76253a58a79bdecd4c1d06e"/>-->
  </accountsPrivate>
    
  <accountsWhiteList>
    <!--Enter any addresses you wish to white list, 
    comment out to the key pairs if you do not wish to have a white list-->
    
    <!--<add name="address1" code="TDW4DX-EZ5ZQU-3ZZUUH-UI6G52-KYRXCH-VWAGIC-DFEX"/>-->
    <!--<add name="address2" code="TDGUY6-NQ7NFF-NBGITX-YLARVD-FM7YXQ-35RLFE-XTBW"/>-->
  </accountsWhiteList>

  <accountsBlackList>
    <!--Enter any addresses you wish to black list, 
    comment out to the key pairs if you do not wish to have a black list-->
    <!--<add name="address1" code="<address here>"/>-->
  </accountsBlackList>

  <appSettings>

    <add key="network" value ="test"/>
    <!--Enter any value ranges to constrain your transactions. 
        Transactions outside these bounds will not pass.
        rules with value 0 will be ignored by the bot-->
    <add key="minBal" value="0" />
    <add key="maxBal" value="0" />
    
    <add key="minTx" value="0" />
    <add key="maxTx" value="0" />
    
    <add key="maxDayTx" value="0" />
    <add key="maxWeekTx" value="0" />
    <add key="maxMonthTx" value="0" />
    
    <add key="maxDayAmount" value="0" />
    <add key="maxWeekAmount" value="0" />
    <add key="maxMonthAmount" value="0" />
    
    <add key="secretCode" value=""/> <!--leave as empty string to ignore the secret code rule-->

    <add key="deadline" value="0"/>
  
    <!--only to be used in conjuction with ICO module. Leave 'ICOAccountPubKey' empty to disable-->
    <add key="ICOAccountPubKey" value ="7707a4c1e41008de8806233961e964c6ba4d4cc1f109aa66d3e7dd886bf245e5"/>
    <add key="cost" value="1"/>
    <add key="currency" value="USD"/>
    <add key="namespace" value="exchangetest"/>
    <add key="ID" value="exchangetest"/>
    <add key="bonusDate1" value="2017-10-17T21:23:00"/>
    <add key="bonusDate2" value="2017-10-17T21:30:00"/>
    <add key="bonusDate3" value="2017-10-17T21:35:00"/>
    <add key ="bonus1" value ="10"/>
    <add key ="bonus2" value ="5"/>
    <add key ="bonus3" value ="0"/>
  </appSettings>
  
  <!--Edit only above this line-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>