<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="accountsPrivate"
             type="XEMSign.MyConfigSection, XEMSign" />
    <section name="accountsWhiteList"
             type="XEMSign.MyConfigSection, XEMSign" />
    <section name="accountsBlackList"
            type="XEMSign.MyConfigSection, XEMSign" />
   <section name="MosaicConfigElement"
           type="XEMSign.MyMosaicConfigSection, XEMSign" />
    <section name="MosaicBonusConfigElement"
           type="XEMSign.MyBonusConfigSection, XEMSign" />

  </configSections>

  <MosaicConfigElement>
    <add name="mosaic1" 
         mosaicNameSpace="qchain-co"
         mosaicID="xqc"  
         mosaicCost="0.25"
         costDenomination ="XEM"
         />
    <add name="mosaic2"
         mosaicNameSpace="qchain-co"
         mosaicID="xqcv"
         mosaicCost="0.25"
         costDenomination ="USD"
         />
  </MosaicConfigElement>
  
  <MosaicBonusConfigElement>
    <add name="bonus1"
         tokenAssignedTo="qchain-co:xqc"
         startDateTime="2017-11-07 00:00:00"
         endDateTime="2017-11-09 00:00:00"
         bonusPercent="10"
         />
    <add name="bonus2"
         tokenAssignedTo="qchain-co:xqcv"
         startDateTime="2017-11-07 00:00:00"
         endDateTime="2017-11-09 00:00:00"
         bonusPercent="10"
         />
  </MosaicBonusConfigElement>
    
 <!--Edit only below this line-->
  
  <accountsPrivate>
    <!--Enter as many private keys as you want. must be cosignatory on main multisig account-->
    <add name="privatekey1" code="39d95ca6c18c3b27263887843dc1a28c2b23d1bc15fc3b9fbf809445483702f1"/> 
    <!--<add name="privatekey2" code="3b7cc6ad440316c495cf1f19c008565a0a09efd1d76253a58a79bdecd4c1d06e"/>-->
  </accountsPrivate>
    
  <accountsWhiteList>
    <!--Enter any addresses you wish to white list, 
    comment out to the key pairs if you do not wish to have a white list-->
    
    <!--<add name="address1" code="TDW4DX-EZ5ZQU-3ZZUUH-UI6G52-KYRXCH-VWAGIC-DFEX"/>-->
    <!--<add name="address2" code="TDGUY6-NQ7NFF-NBGITX-YLARVD-FM7YXQ-35RLFE-XTBW"/>-->
  </accountsWhiteList>

  <accountsBlackList>
    <!--Enter any addresses you wish to black list, 
    comment out to the key pairs if you do not wish to have a black list-->
    <!--<add name="address1" code="<address here>"/>-->
  </accountsBlackList>

  <appSettings>

    <add key="network" value ="test"/> <!--'main' to set main net-->
    <!--Enter any value ranges to constrain your transactions. 
        Transactions outside these bounds will not pass.
        rules with value 0 will be ignored by the bot-->
    <add key="minBal" value="0" />
    <add key="maxBal" value="0" />
    
    <add key="minTx" value="0" />
    <add key="maxTx" value="0" />
    
    <add key="maxDayTx" value="0" />
    <add key="maxWeekTx" value="0" />
    <add key="maxMonthTx" value="0" />
    
    <add key="maxDayAmount" value="0" />
    <add key="maxWeekAmount" value="0" />
    <add key="maxMonthAmount" value="0" />
    
    <add key="secretCode" value=""/> <!--leave as empty string to ignore the secret code rule-->

    <add key="deadline" value="0"/>
  
    <add key="ICOAccountPubKey" value ="9982845184753fc18bcc906e7db8e22f7344c78fa79d334816b75b2fe1d1eaaf"/>
  </appSettings>
  
  <!--Edit only above this line-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>